section {
  font-size: 1.5rem;
  color: #191818;
}

pre {
  padding: 1rem;
  border: 1px solid #3e3e3e;
  border-radius: 5px;
  font-family: 'Courier New', monospace;
  font-size: 1rem;
}

h2 {
  color: #49745c;
}
